
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FacePets</title>
    <link rel="stylesheet" href="~/fontawesome/css/all.min.css"> <!-- https://fontawesome.com/ -->
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet"> <!-- https://fonts.google.com/ -->
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

    <link href="~/css/templatemo-xtra-blog.css" rel="stylesheet">

</head>
<body>
    <header class="tm-header" id="tm-header">
        <h1 class="text-center" style="color:#ffffff">FacePets</h1>
        <figure align="center" class="tm-comment-figure">
            <img src="~/Img/@ViewBag.Imagen" alt="Image" class="mb-2 rounded-circle img-thumbnail">
  
            <figcaption class="text-center">@ViewBag.usurioLoged</figcaption>

        </figure>
        <div class="tm-header-wrapper">


            <nav class="tm-nav" id="tm-nav">
                <ul>
                    <li class="tm-nav-item">
                        <a asp-controller="Home" asp-action="Index" class="tm-nav-link">
                            <i class="fas fa-home"></i>
                            <strong>Home</strong>
                        </a>
                    </li>
                    <li class="tm-nav-item">
                        <a asp-controller="Home" asp-action="MisMascotas" class="tm-nav-link">
                            <i class="fas fa-heart"></i>
                            Mis Mascotas
                        </a>
                    </li>
                    <li class="tm-nav-item">
                        <a asp-controller="Home" asp-action="Privacy" class="tm-nav-link">
                            <i class="fas fa-users"></i>
                            Conocenos
                        </a>
                    </li>
                    <li class="tm-nav-item">
                        <a asp-controller="Auth" asp-action="Logout" class="tm-nav-link">
                            <i class="fa fa-times-circle"></i>
                            Salir
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="tm-mb-65">
                <a href="https://facebook.com" class="tm-social-link">
                    <i class="fab fa-facebook tm-social-icon"></i>
                </a>
                <a href="https://twitter.com" class="tm-social-link">
                    <i class="fab fa-twitter tm-social-icon"></i>
                </a>
                <a href="https://instagram.com" class="tm-social-link">
                    <i class="fab fa-instagram tm-social-icon"></i>
                </a>
                <a href="https://linkedin.com" class="tm-social-link">
                    <i class="fab fa-linkedin tm-social-icon"></i>
                </a>
            </div>

        </div>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>